config:
  outputs: |
    [OUTPUT]
        Name es
        Match *
        Host elasticsearch-master.logging.svc.cluster.local
        Port 9200
        HTTP_User elastic
        HTTP_Passwd ${ELASTIC_PASSWORD}
        tls On
        tls.verify Off
        Logstash_Format On
        Logstash_Prefix fluentbit
        Retry_Limit False
        Replace_Dots On
        Suppress_Type_Name On

  filters: |
    [FILTER]
        Name kubernetes
        Match kube.*
        Merge_Log On
        Keep_Log Off
        K8S-Logging.Parser On
        K8S-Logging.Exclude On

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

env:
  - name: ELASTIC_PASSWORD
    valueFrom:
      secretKeyRef:
        name: elasticsearch-master-credentials
        key: password